.insideDiv{
  overflow-y: auto; 
  height: 90vh;
}

.insideDiv::-webkit-scrollbar{
    width: 0.8vw;
  }
  
  .insideDiv::-webkit-scrollbar-thumb{
    background-color: #3266ff;
    border-radius: 20px;
  }
  
  .insideDiv::-webkit-scrollbar-thumb:hover{
    background-color: #1375ff;
    border-radius: 20px;
  }
  
  .insideDiv::-webkit-scrollbar-track{
    background-color: #dfdfdf;
  }

  .headPosi{
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%;
  }

  .navSet{
    position: fixed; 
    top: 64px; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%; 
    display: flex;
  }

  .navSetIn{
    overflow-y: auto; 
    height: 100vh;
  }