<div class="login-page-container">
    <div class="primary-area">
    </div>
  </div>
  <div class="credentials-container">
    <div class="user-icon">
        <img style="width: 100%;" src="\assets\Images\user.png" alt="">
    </div>
      <div class="input-field">
        <form>
          <div class="user-box">
            <input style="border-radius: 5px;" placeholder="Username" name="username" type="email" autocomplete="username" [(ngModel)]="email">
        </div>
        <div class="user-box">
            <input style="border-radius: 5px;" placeholder="Password" name="password" type="password" [(ngModel)]="password">
        </div>
        <button class="btn" (click)="onLogin()">Login</button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </form>
    </div>

    
  <div class="patent">
    Powered By Proassetin
  </div>

</div> 
<div class="logo-image-with-name">
  <span class="logo-header">
   <img src="\assets\Images\assets.png" class="proassetin-logo">
    <span class="proassetin">Proassetin</span>
  </span>
</div>

