<div class="sidenav">
    <ul class="lists">
        <li>
            <a class="navItems" (click)="goBack()" routerLink="/Home/Home-Page">Back</a></li>
        <li>
            <a class="navItems" (click)="userAccDrop()" routerLink="/UserSettings/UserS" routerLinkActive="active">User Settings</a>
            <ul style="width: 100%;" *ngIf="userAcc">
              <li><a class="navItems" style="font-size: 16px !important;" routerLink="/UserSettings/AccCreation" routerLinkActive="active">Account Creation</a></li>
              <li><a class="navItems" style="font-size: 16px !important;" routerLink="/UserSettings/AccPermissions" routerLinkActive="active">Account Permissions</a></li>
              <li><a class="navItems" style="font-size: 16px !important;" routerLink="/UserSettings/AccRoles" routerLinkActive="active">Account Roles</a></li>
            </ul>
          </li>
          <li>
            <a class="navItems" (click)="invoiceDrop()" routerLink="/UserSettings/SMTPCon" routerLinkActive="active">Mail Configurations</a>
            <ul style="width: 100%;" *ngIf="invoiceMan">
                <li><a class="navItems" style="font-size: 16px !important;" routerLink="/UserSettings/SMTPCon" routerLinkActive="active">SMTP Configurations</a></li>
            </ul>
          </li>
          <li>
            <a class="navItems" (click)="assetIDDrop()" routerLink="/UserSettings/PreID" routerLinkActive="active">Asset Configurations</a>
            <ul style="width: 100%;" *ngIf="assetIDMan">
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">Pre-Defined AssetID</a></li>
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">Company Logo</a></li>
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">GST Number</a></li>
            </ul>
          </li>
          <li>
            <a class="navItems" (click)="samlDrop()" routerLinkActive="active">Asset Recycle Configurations</a>
            <ul style="width: 100%;" *ngIf="samlMan">
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">Duration/Period</a></li>
            </ul>
          </li>
          <li>
            <a class="navItems" (click)="budgetDrop()" routerLinkActive="active">Active Directory Configurations</a>
            <ul style="width: 100%;" *ngIf="budgetMan">
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">Domain Name</a></li>
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">Administrator User ID</a></li>
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">Administrator Password</a></li>
            </ul>
          </li>
          <li>
            <a class="navItems" (click)="curTimeDrop()" routerLink="/UserSettings/CurTime" routerLinkActive="active">Currency and Time Zone Configurations</a>
            <ul style="width: 100%;" *ngIf="curTime">
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">Currency</a></li>
                <li><a class="navItems" style="font-size: 16px !important;" routerLinkActive="active">Time Zone</a></li>
            </ul>
          </li>
    </ul>
    </div>