.tdSty{
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 13ch;
}

  .btnsDiv{
    bottom: 0; 
    margin-left: 2%; 
    margin-right: 2%;
  }

  .nxtBtn{
    background-color: #007eff; 
    color: white !important; 
    float: right;
  }

  .nxtBtnR{
    background-color: red; 
    color: white !important; 
    float: right;
    margin-right: 1%; 
  }

  .inpWid{
    margin-left: 1%;
    width: 50%;
  }

  .pagination-right {
    display: flex;
    justify-content: flex-end;
  }