<div class="creaDiv">
    <h1><b>Register</b></h1>
    <hr>
    <div class="compDiv">
        <h3><b>Company Details</b></h3>
        <div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="CompID">Company ID <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="CompID" placeholder="Company ID"
                    [(ngModel)]="CompanyID" required>
            </div>
            <!-- <div class="mb-3 cmpInp">
                <label class="fontSty" for="Name">Name <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="Name" placeholder="Name" [(ngModel)]="CName" required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="Address">Address <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="Address" placeholder="Address" [(ngModel)]="CAddress" required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="PhnNumber">Phone Number <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="PhnNumber" placeholder="Phone Number" [(ngModel)]="CPhoneNumber" required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="Industry">Industry <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="Industry" placeholder="Industry" [(ngModel)]="Industry" required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="SPOC">SPOC Info <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="SPOC" placeholder="SPOC Info" [(ngModel)]="SPOCInfo" required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="Email">Email <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="Email" placeholder="Email" [(ngModel)]="CEmail" required>
            </div> -->
        </div>
    </div>
    <br>
    <div class="empDiv">
        <h3><b>Employee Details</b></h3>
        <div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="EmpID">Employee ID <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="EmpID" placeholder="Employee ID" [(ngModel)]="EmpID"
                    required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="Domain">Domain Account <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="Domain" placeholder="Domain" [(ngModel)]="Domain">
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="EmpType">Employee Type <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="EmpType" placeholder="Employee Type"
                    [(ngModel)]="EmpType" required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="FullName">Full Name <span class="spanCol">*</span></label>
                <div class="nameDivs">
                    <input type="text" class="form-control inpWidN" id="FullName" placeholder="First Name"
                        [(ngModel)]="FName" required>
                    <input type="text" class="form-control inpWidN" id="FullName" placeholder="Last Name"
                        [(ngModel)]="LName" required>
                </div>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="Username">Username <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="Username" placeholder="Username" [(ngModel)]="UName"
                    required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="E-Email">Email <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="E-Email" placeholder="Email" [(ngModel)]="EEmail"
                    required>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="Password">Password <span class="spanCol">*</span></label>
                <input type="password" class="form-control inpWid" id="Password" placeholder="Password"
                    [(ngModel)]="Epass">
            </div>
            <div *ngIf="Epass" class="mb-3" style="text-align: end;">
                    <span matTooltip='Password must meet the following requirements: Minimum length: 8 characters
                        - At least 1 uppercase letter
                        - At least 1 lowercase letter
                        - At least 1 number
                        - At least 1 special character'>
                    <i class="fa-solid fa-circle-info" style="color: #000000;"></i>
                </span>
                <span class="strength-label"> Password Strength:</span>
                <span
                    [ngClass]="{'weak': checkPasswordStrength() === 'Weak', 'moderate': checkPasswordStrength() === 'Moderate', 'strong': checkPasswordStrength() === 'Strong'}">
                    {{ checkPasswordStrength() }}
                </span>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="CPassword">Confirm Password <span class="spanCol">*</span></label>
                <input type="password" class="form-control inpWid" id="CPassword" placeholder="Confirm Password"
                    [(ngModel)]="EpassConfirm">
            </div>
            <div class="mb-3" *ngIf="EpassConfirm && EpassConfirm !== Epass" style="text-align: end;">
                <span style="color: red; justify-content: end;">Passwords doesn't match*</span>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="RDate">Register Date <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="RDate" placeholder="Register Date"
                    [(ngModel)]="RegDate" [value]="today" [readonly]="true" [disabled]="true">
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="Role">Role <span class="spanCol">*</span></label>
                <select type="text" class="form-control inpWid" id="Role" placeholder="Role" [(ngModel)]="selectedRole"
                    required>
                    <option selected disabled>Select</option>
                    <option value="Owner">Owner</option>
                    <option value="SuperAdmin">Super Admin</option>
                    <option value="Admin">Admin</option>
                    <option value="Monitoring">Monitoring</option>
                    <option value="QC">QC</option>
                    <option value="EndUser">EndUser</option>
                </select>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="EPhnNumber">Phone Number <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="EPhnNumber" placeholder="Phone Number"
                    [(ngModel)]="PhoneNum">
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="Location">Location <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="Location" placeholder="Location" [(ngModel)]="Loc">
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="ProjName">Project Name <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="ProjName" placeholder="Project Name"
                    [(ngModel)]="ProjName">
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="TeamName">Team Name <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="TeamName" placeholder="Team Name"
                    [(ngModel)]="TName">
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="CustName">Customer Name <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="CustName" placeholder="Customer Name"
                    [(ngModel)]="CusName">
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="WorkType">Work Type <span class="spanCol">*</span></label>
                <select type="text" class="form-control inpWid" id="WorkType" placeholder="Work Type"
                    [(ngModel)]="selectedWorkType" required>
                    <option selected disabled>Select</option>
                    <option value="OnSite">On-Site</option>
                    <option value="OffShore">Off-Shore</option>
                </select>
            </div>
            <div class="mb-3 cmpInp">
                <label class="fontSty" for="RepMan">Reporting Manager <span class="spanCol">*</span></label>
                <input type="text" class="form-control inpWid" id="RepMan" placeholder="Reporting Manager"
                    [(ngModel)]="Manag">
            </div>
        </div>
    </div>
    <br>
    <div class="empDiv" *ngIf="configDiv">
        <h3><b>Configuration Settings</b></h3>
    </div>
    <br *ngIf="configDiv">
    <div class="btns">
        <button class="btn btn-primary conBtn" (click)="configDivs()">Configurations</button>
        <button class="btn btn-primary regBtn" (click)="register()">Register</button>
        <button class="btn btn-outline-primary rstBtn" (click)="resetForm()">Discard</button>
    </div>
</div>