<div class="sidenav">
<ul class="lists">
    <li>
        <a class="navItems" routerLink="/Home/Home-Page" routerLinkActive="active">Home</a></li>
    <li>
        <a class="navItems" (click)="assetDrop()" routerLink="/Home/AssetMDash" routerLinkActive="active">Asset Management</a>
        <ul style="width: 100%;" *ngIf="assetsMan">
          <li><a class="navItems" routerLink="/Home/AssetPage" routerLinkActive="active">Assets</a></li>
          <li><a class="navItems" routerLink="/Home/AssetSearch" routerLinkActive="active">Search</a></li>
          <li *ngIf="ifCrete"><a class="navItems" routerLink="/Home/AssetCreate" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/AssetReports" routerLinkActive="active">Reports</a></li>
        </ul>
      </li>
      <!-- <li>
        <a class="navItems" (click)="invoiceDrop()" routerLink="/Home/InvoiceMDash" routerLinkActive="active">Invoice Management</a>
        <ul style="width: 100%;" *ngIf="invoiceMan">
          <li><a class="navItems" routerLink="/Home/Create" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/View" routerLinkActive="active">View</a></li>
          <li><a class="navItems" routerLink="/Home/Delete" routerLinkActive="active">Delete</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li> -->
      <li>
        <a class="navItems" (click)="purchaseDrop()" routerLink="/Home/PurchaseMDash" routerLinkActive="active">PO / Invoice Management</a>
        <ul style="width: 100%;" *ngIf="purchaseMan">
          <li><a class="navItems" routerLink="/Home/PurO" routerLinkActive="active">PO</a></li>
          <li><a class="navItems" routerLink="/Home/PurCreate" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/Delete" routerLinkActive="active">Delete</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li>
      <li>
        <a class="navItems" (click)="samlDrop()" routerLink="/Home/samlMDash" routerLinkActive="active">SAML</a>
        <ul style="width: 100%;" *ngIf="samlMan">
          <li><a class="navItems" routerLink="/Home/ScanInv" routerLinkActive="active">Scan Inventory</a></li>
          <li><a class="navItems" routerLinkActive="active">Licenses</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li>
      <li>
        <a class="navItems" (click)="budgetDrop()" routerLink="/Home/BudgetMDash" routerLinkActive="active">Budget Management</a>
        <ul style="width: 100%;" *ngIf="budgetMan">
          <li><a class="navItems" routerLink="/Home/Create" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/View" routerLinkActive="active">View</a></li>
          <li><a class="navItems" routerLink="/Home/Delete" routerLinkActive="active">Delete</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li>
      <li>
        <a class="navItems" (click)="vendorDrop()" routerLink="/Home/VendorMDash" routerLinkActive="active">Vendor Management</a>
        <ul style="width: 100%;" *ngIf="vendorMan">
          <li><a class="navItems" routerLink="/Home/Create" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/View" routerLinkActive="active">View</a></li>
          <li><a class="navItems" routerLink="/Home/Delete" routerLinkActive="active">Delete</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li>
      <li>
        <a class="navItems" (click)="ewasDrop()" routerLink="/Home/EwasteMDash" routerLinkActive="active">E-Waste Management</a>
        <ul style="width: 100%;" *ngIf="ewasMan">
          <li><a class="navItems" routerLink="/Home/Create" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/View" routerLinkActive="active">View</a></li>
          <li><a class="navItems" routerLink="/Home/Delete" routerLinkActive="active">Delete</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li>
      <li>
        <a class="navItems" (click)="securityDrop()" routerLink="/Home/SecurityMDash" routerLinkActive="active">Security Management</a>
        <ul style="width: 100%;" *ngIf="securityMan">
          <li><a class="navItems" routerLink="/Home/Create" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/View" routerLinkActive="active">View</a></li>
          <li><a class="navItems" routerLink="/Home/Delete" routerLinkActive="active">Delete</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li>
      <li>
        <a class="navItems" (click)="vaptDrop()" routerLink="/Home/vaptMDash" routerLinkActive="active">VAPT Management</a>
        <ul style="width: 100%;" *ngIf="vaptMan">
          <li><a class="navItems" routerLink="/Home/Create" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/View" routerLinkActive="active">View</a></li>
          <li><a class="navItems" routerLink="/Home/Delete" routerLinkActive="active">Delete</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li>
      <li>
        <a class="navItems" (click)="projectDrop()" routerLink="/Home/ProjectMDash" routerLinkActive="active">Project Management</a>
        <ul style="width: 100%;" *ngIf="projectMan">
          <li><a class="navItems" routerLink="/Home/Create" routerLinkActive="active">Create</a></li>
          <li><a class="navItems" routerLink="/Home/View" routerLinkActive="active">View</a></li>
          <li><a class="navItems" routerLink="/Home/Delete" routerLinkActive="active">Delete</a></li>
          <li><a class="navItems" routerLink="/Home/Reports" routerLinkActive="active">Reports Download</a></li>
        </ul>
      </li>
      <li>
        <a class="navItems" (click)="ticketDrop()" routerLink="/Home/TTMDash" routerLinkActive="active">Ticketing Tool</a>
        <ul style="width: 100%;" *ngIf="ticketMan">
          <li><a class="navItems" routerLink="/Home/CreateTick" routerLinkActive="active">Create Ticket</a></li>
          <li><a class="navItems" routerLink="/Home/ClosedTick" routerLinkActive="active">Closed Ticket</a></li>
          <li><a class="navItems" routerLink="/Home/PendingTick" routerLinkActive="active">Pending Ticket</a></li>
        </ul>
      </li>
</ul>
</div>