.reports-container {
  padding: 24px;

  h1 {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 500;
  }

  .spinner {
    margin: 100px auto;
  }
}

@media (max-width: 600px) {
  .reports-container {
    padding: 16px;

    h1 {
      font-size: 24px;
    }
  }
}

